

<%= erb(:"partials/flash_partial") %>

<!-- Display Page Title -->
<h2><%= current_user.username %>'s Folders</h2>
<br>

<!-- Display folder url -->
<% @folders.each do |folder| %>
  <a href="/<%= current_user.slug %>/folders/<%= folder.slug %>"><%= folder.name %></a>

  <!-- Display edit button -->
  <form action="/<%= current_user.slug %>/folders/<%= folder.slug %>/edit">
    <button class="content_button"  type="submit">Edit</button>
  </form>

  <!-- Display delete button -->
  <form action="/<%= current_user.slug %>/folders/<%= folder.slug %>/delete" method="POST">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <button class="content_button"  type="submit">Delete Folder</button>
  </form><br>

<% end %>

<br>
<br>

<!-- Display Create Folder Link -->
<a href="/<%= current_user.slug %>/folders/new">Create New Folder</a>

<br>
<br>

<!-- Display a Back button. It takes the user to the previously visited page -->
<a href="javascript:history.back()">Go Back</a>
