<!-- PLANNING ON USING THIS TO SERVE AS THE PRIMARY FILE FOR BOTH FOLDER AND CATEGORY -->


<%= erb(:"partials/flash_partial") %>

<!-- Displays the Page Title -->
<h3> [ -- <%= object_one.name %> -- ] contains the Following Items: </h3>
<br>
<br>

<!-- Lists the items in the folder/category (alphabetical Order) -->
<!-- Displays an item url + edit and delete buttons -->

<div class="folder_container">

  <%= erb(:"partials/accordion_top_partial", :locals => {:collapse_num => "collapseOne", :heading_num => "headingOne"})%>
    <%= object_one.name %> : Contains <%= object_one.items.size %> item(s)</a>
  <%= erb(:"partials/accordion_middle_partial", :locals => {:collapse_num => "collapseOne", :heading_num => "headingOne"})%>
    <% object_two.each do |item| %>
      <%= erb(:"partials/item_partial", :locals => {
        :item => item,
        :item_path => "/"+current_user.slug+"/items/"+item.slug+"/"+item.id.to_s,
        :item_edit_path => "/"+current_user.slug+"/items/"+item.slug+"/"+item.id.to_s+"/edit",
        :item_delete_path => "/"+current_user.slug+fs_object_string+object_one.slug+object_one.id.to_s+"/items/"+item.slug+"/"+item.id.to_s+"/delete",
        })%>
    <% end %>
  <%= erb(:"partials/accordion_bottom_partial")%>
</div>

<%= erb(:"partials/button_create_item_partial") %>

<br>
<br>

<!-- EDIT BUTTON -->
<%= erb(:"partials/button_edit_partial", :locals => {
  :edit_string => edit_string,
  :edit_path => "/"+current_user.slug+fs_object_string+"/"+object_one.slug+"/edit"
  })%>
<br>
<!-- DELETE BUTTON -->
<%= erb(:"partials/button_delete_partial", :locals => {
  :delete_string => delete_string,
  :delete_path => "/"+current_user.slug+fs_object_string+"/"+object_one.slug+"/delete"
  })%>


<br>
<br>

<!-- Display a Back button. It takes the user to the previously visited page -->
<a href="javascript:history.back()">Go Back</a>
