<!-- CURRENTLY BEING USED WITH CREATE_ITEM.ERB & EDIT_ITEM.ERB -->

<!-- Displays form to Create a New Item -->
<!-- Will not create item if the item's name is missing -->

<!-- Asks for item name -->
<label class="item" for="item_name">Item Name:
  <input type="text" name="item[name]" placeholder="<%= temp_name %>">
</label>
<br>
<br>

<!-- Asks for item cost -->
<label class="item" for="item_cost">Item Cost:  $
  <input type="number" name="item[cost]" min="0.00" max="999999999999999.00" step="0.01" placeholder="<%= temp_cost %>">
</label>
<br>
<br>

<!-- Asks for item description -->
<label class="item" for="item_description">Item Description: </label><br>
<textarea name="item[description]" rows="10" cols="30" placeholder="<%= temp_description %>"></textarea>
<br>

<br>
<br>

<!-- Display a dropdown menu of existing folders/categories to choose from -->
<!-- Display folder/category creation form -->
<!-- Creates folder/category only if name does not exist -->
<%= erb(:"partials/category_folder_partial", :locals => {:object => object_one, :object_string => "folder"}) %>
<%= erb(:"partials/category_folder_partial", :locals => {:object => object_two, :object_string => "category"}) %>
