<div class="list_item">

  <!-- Display the item's url, price, and id -->
  <!-- the id is being displayed temporarily, until I add the option to upload an image -->
  <a href="/<%= current_user.slug %>/items/<%= item.slug %>/<%= item.id %>"><%= item.name %></a>
  <p> Price: $ <%= item.cost %> || ID: <%= item.id %> </p>

  <!-- Display the Edit Button -->
  <form action="/<%= current_user.slug %>/items/<%= item.slug %>/<%= item.id %>/edit">
    <button class="content_button"  type="submit">Edit Item</button>
  </form>

  <!-- Display the Delete Button -->
  <!-- Must add '/' in front when passing a value for f_slash_object_plural -->
  <!-- Must add '/' in front when passing a value for f_slash_object_id -->
  <form action="<%= item_delete_path %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <button class="content_button"  type="submit">Delete Item</button>
  </form>

</div>

  <!-- Display a divider to compartmentalize each -->
  <!-- this is temporary, until I add in bootstrapped or custom styles -->
  <br>
  <div class="item-divider" > - </div>
  <br>
