<!-- Display the item's url, price, and id -->
<!-- the id is being displayed temporarily, until I add the option to upload an image -->

<div class="card border border-primary" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><a href="/<%= current_user.slug %>/items/<%= item.slug %>/<%= item.id %>"><%= item.name %></a></h5>
    <h6 class="card-subtitle mb-2 text-muted">Price: $ <%= item.cost %> || ID: <%= item.id %></h6>

    <div class="row">
      <div class="card-link">
        <!-- EDIT BUTTON -->
        <%= erb(:"partials/button_edit_partial", :locals => {
          :object_string => "Item", :edit_path => "/"+current_user.slug+"/items/"+item.slug+"/"+item.id.to_s+"/edit",
          :button_label =>"Item Details"
          })%>
      </div>

      <div class="card-link">
        <!-- DELETE BUTTON -->
        <%= erb(:"partials/button_delete_partial", :locals => {
          :object_string => "Item", :delete_path => delete_path
          })%>
      </div>
    </div>
  </div>
</div>
<br>
