<!-- PLANNING ON USING THIS TO SERVE AS THE PRIMARY FILE FOR BOTH FOLDER AND CATEGORY -->

@folders --> object_one
@items --> object_two
/folders --> f_sslash_string




<%= erb(:"partials/flash_partial") %>

<!-- Displays the Page Title -->
<h3> [ -- <%= object_one.name %> -- ] contains the Following Items: </h3>
<br>
<br>

<!-- Lists the items in the folder/category (alphabetical Order) -->
<!-- Displays an item url + edit and delete buttons -->

<div class="folder_container">

  <%= erb(:"partials/accordion_top_partial")%>
    <%= object_one.name %> : Contains <%= object_one.items.size %> item(s)</a>
  <%= erb(:"partials/accordion_middle_partial")%>
    <% object_two.each do |item| %>
      <%= erb(:"partials/item_partial", :locals => {
        :item => item,
        :item_path => "/"+current_user.slug+"/items/"+item.slug+"/"+item.id.to_s,
        :item_edit_path => "/"+current_user.slug+"/items/"+item.slug+"/"+item.id.to_s+"/edit",
        :item_delete_path => "/"+current_user.slug+f_slash_string+object_one.slug+object_one.id.to_s+"/items/"+item.slug+"/"+item.id.to_s+"/delete",
        })%>
    <% end %>
  <%= erb(:"partials/accordion_bottom_partial")%>
</div>

<%= erb(:"partials/button_create_item_partial") %>

<br>
<br>

<!-- Displays Edit Folder button -->
<!-- EDIT BUTTON... <%= edit_path %> ::: /<%= current_user.slug %>/folders/<%= object_one.slug %>/edit -->
<!-- <%= edit_string %> ::: for button label -->
<form action="<%= edit_path %>">
  <button class="form_button"  type="submit">Edit <%= edit_string %></button>
</form>

<!-- Display Delete Folder button -->
<!-- DELETE BUTTON... <%= delete_path %> ::: /<%= current_user.slug %>/folders/<%= object_one.slug %>/delete
<!-- <%= edit_string %> ::: for button label -->
<form action="<%= delete_path %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button class="form_button"  type="submit"><%= delete_string %></button>
</form>

<br>
<br>

<!-- Display a Back button. It takes the user to the previously visited page -->
<a href="javascript:history.back()">Go Back</a>
