<div class="title_heading rounded">
  <h2><%= current_user.username %>'s Information: </h2>
</div>

<br>
<br>

<label for="first name">First Name:
<p><%= @user.first_name %></p>
</label>
<br>
<br>

<label for="last name">Last Name:
<p><%= @user.last_name %></p>
</label>
<br>
<br>

<label for="telephone">Telephone:
<p><%= @user.telephone %></p>
</label>
<br>
<br>

<label for="email">Email:
<p><%= @user.email %></p>
</label>
<br>
<br>
<br>

<!-- Display edit button -->
<form action="/<%= @user.slug %>/edit">
  <button class="btn btn-primary btn-lg active" role="button" aria-pressed="true"  type="submit">Edit My Info</button>
</form>

<br>

<!-- DELETE BUTTON -->
<%= erb(:"partials/button_delete_partial", :locals => {
  :object_string => "Account", :delete_path => "/"+@user.slug+"/delete"
  })%>
