<%= erb(:"partials/flash_partial") %>

<!-- Displays page title -->
<h3> Create a New Folder: </h3>
<br>

<!-- Displays folder creation form -->

<form action="/<%= current_user.slug %>/folders/new" method="POST">

  <!-- Category Name field -->
  <label for="folder_name">Folder Name:
    <input type="text" name="folder[name]" placeholder="Folder Name">
  </label>
  <br>
  <br>

  <!-- Displays a dropdown menu of existing items to choose from -->

  <label>Add or Remove existing items: </label><br>
  <select name="folder[item_ids][]" size="4" multiple>
    <% @items.each do |item| %>
      <option value="<%= item.id %>"><%= item.name %></option>
    <% end %>
  </select>
  <p>(hold ctrl [in Windows] or cmd [in MacBooks] to select or deselect any of the above)</p>

  <br>
  <br>

  <h5>Would you like to add a new item as well?</h5>
  <br>

  <!-- Displays form to Create a New Item -->
  <!-- Will not create item if the item's name is missing -->

  <!-- ITEM FORM PARTIAL -->
  <%= erb(:"partials/item_form_partial", :locals => {:temp_name => "Item Name", :temp_cost => "0.00", :temp_description => "Item Description (e.g. shape, color, why it's important, etc.)"}) %>
  <!-- ITEM FORM PARTIAL -->


  <!-- Submit Button -->
  <button class="form_button create_button"  type="submit">Create New Folder</button>
</form>

<br>
<br>

<!-- Displays a Back button. It takes the user to the previously visited page -->
<a href="javascript:history.back()">Go Back</a>
