<!-- Controls flash messages -->
<%= erb(:"partials/flash_partial") %>

<!-- Displays page title -->
<div class="title_heading rounded">
  <h3> EDIT: <%= @item.name %> </h3>
</div>
<br>


<form action="/<%= current_user.slug %>/items/<%= @item.slug %>/<%= @item.id %>/edit" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <!-- Lists the items in the folder (alphabetical Order) -->
  <!-- Displays an item url + edit and delete buttons -->

  <!-- ITEM FORM PARTIAL -->
  <%= erb(:"partials/item_form_partial", :locals => {
    :temp_name => @item.name, :temp_cost => @item.cost,
    :temp_description => @item.description
    }) %>
  <!-- ITEM FORM PARTIAL -->


  <!-- Display a dropdown menu of existing folders/categories to choose from -->
  <!-- Display folder/category creation form -->
  <!-- Creates folder/category only if name does not exist -->

  <h4> Choose a Folder: (optional)</h4>
    <%= erb(:"partials/category_folder_select_partial", :locals => {:itm => @item, :object => @folders, :object_string => "folder"}) %>
  <br>
  <h4> Choose a Category: (optional)</h4>
    <%= erb(:"partials/category_folder_select_partial", :locals => {:itm => @item, :object => @categories, :object_string => "category"}) %>


  <!-- Submit Button -->
  <button class="btn btn-primary btn-lg active" role="button" aria-pressed="true"  type="submit">Update Item Info</button>
</form>

<br>
<br>

<!-- Display a Back button. It takes the user to the previously visited page -->
<a href="javascript:history.back()" class="badge-pill badge-secondary">Go Back</a>
