<%= erb(:"partials/flash_partial") %>

<!-- Displays page title -->
<h3> [ -- <%= @item.name %> -- ] Edit Page: </h3>
<br>


<form action="/<%= current_user.slug %>/items/<%= @item.slug %>/<%= @item.id %>/edit" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <!-- Lists the items in the folder (alphabetical Order) -->
  <!-- Displays an item url + edit and delete buttons -->

  <!-- ITEM FORM PARTIAL -->
  <%= erb(:"partials/item_form_partial", :locals => {:temp_name => @item.name, :temp_cost => @item.cost, :temp_description => @item.description}) %>
  <!-- ITEM FORM PARTIAL -->

  <br>
  <!-- Displays a dropdown menu of existing folders to choose from -->
  <label>Add or Remove this item from existing folders: </label>
  <br>

  <select name="item[folder_ids][]" size="4" multiple>
    <% @folders.each do |folder| %>
      <option value="<%= folder.id %>" <%= 'selected' if @item.folders.include?(folder) %> ><%= folder.name %></option>
    <% end %>
  </select>
  <br>
  <br>

  <!-- Displays folder creation form -->
  <!-- Creates folder only if name does not exist -->

  <h5>Add to new folder as well?</h5>
  <label>Folder Name:
  <input type="text" name="folder[name]" placeholder="Folder Name">
  </label>
  <br>
  <br>

  <!-- Submit Button -->
  <button class="content_button"  type="submit">Update Item Info</button>
</form>

<br>
<br>

<!-- Displays a Back button. It takes the user to the previously visited page -->
<a href="javascript:history.back()">Go Back</a>
