<div>

  <h2 id="caution">CAUTION: Deleting an item from this page will remove the item from all of its associated folders</h2>
  <br>

  <!-- FOLDERS AND THEIR ITEMS  -->
  <br>
  <div class="folder_items">
    <% @folders.each do |folder| %>
      <h3 class="folder_items">||||| <%= folder.name %> |||||</h3>

      <% folder.items.sort { |a,b| a.name.downcase <=> b.name.downcase }.each do |item| %>
        <a href="/<%= current_user.slug %>/items/<%= item.slug %>/<%= item.id %>"> <%= item.name %> </a>
        <br>

        <form action="/<%= current_user.slug %>/items/<%= item.slug %>/<%= item.id %>/edit">
          <button class="content_button" type="submit">Edit</button>
        </form>

        <form action="/<%= current_user.slug %>/items/<%= item.slug %>/<%= item.id %>/delete" method="POST">
          <input id="hidden" type="hidden" name="_method" value="delete">
          <button class="content_button" type="submit">Delete Item</button>
        </form>

      <% end %> <!-- folder.items.sort{}.each -->
      <br>
    <% end %> <!-- @folders.each -->
  </div>
  <br>


  <!-- ITEMS THAT ARE NO LONGER ASSOCIATED WITH FOLDERS  -->

  <h3>Items Not in a Folder</h3>

  <br>
  <% @items.each do |item| %>
    <% if item.folders.empty? %>
      <a href="/<%= current_user.slug %>/items/<%= item.slug %>/<%= item.id %>"> <%= item.name %> </a>
      <br>

      <form action="/<%= current_user.slug %>/items/<%= item.slug %>/<%= item.id %>/edit">
        <button class="content_button" type="submit">Edit</button>
      </form>

      <form action="/<%= current_user.slug %>/items/<%= item.slug %>/<%= item.id %>/delete" method="POST">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <button class="content_button" type="submit">Delete Item</button>
      </form>
    <% end %> <!-- item.folders.empty? -->
    <br>
  <% end %> <!-- @items.each -->

  <br>
  <form action="/<%= current_user.slug %>/items/new">
    <button class="content_button" type="submit"><a class="add_button" href="/<%= current_user.slug %>/items/new">Add Item</a></button>
  </form>
</div>
