<!-- CAUTION -->
<!-- THE PURPOSE OF THIS PAGE IS TO ALLOW THE USER TO DELETE AN ITEMS COMPLETELY -->
<!-- THIS ITEM GETS DELETED FROM THE ACCOUNT (i.e. ALL FOLDERS AND CATEGORIES) -->

<!-- Displays page title -->
<div class="title_heading rounded">
  <h2> All of <%= current_user.username.capitalize %>'s Items </h2>
</div>
<br>

<%= erb(:"partials/flash_partial") %>

<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <h2>CAUTION:</h2> Deleting an item from this page will premanently remove the item from your account and all of its associated folders!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
  <br>

  <!-- Displays each folder and its items -->
  <!-- It looks convoluted, but it's not really -->
  <!-- No single large block was doing the task, so I split it into partials -->
  <!-- And, now, I am able to mix and match them based on which components I need -->
  <!-- the item's delete url is special in this case because it deletes the item from teh account -->

<br>

  <% @folders.each do |folder| %>
    <%= erb(:"partials/accordion_top_partial", :locals => {:collapse_num => "collapseOne", :heading_num => "headingOne"})%>
      <%= folder.name %> : Contains <%= folder.items.size %> item(s)
    <%= erb(:"partials/accordion_middle_partial", :locals => {:collapse_num => "collapseOne", :heading_num => "headingOne"})%>
      <% folder.items.sort { |a,b| a.name.downcase <=> b.name.downcase }.each do |item| %>
        <%= erb(:"partials/list_item_partial", :locals => {
          :object => folder, :item => item, :delete_path => "/"+current_user.slug+"/items/"+item.slug+"/"+item.id.to_s+"/delete",
          })%>
      <% end %>
    <%= erb(:"partials/accordion_bottom_partial")%>
  <% end %>

<!-- ITEMS THAT ARE NOT ASSOCIATED WITH ANY FOLDERS  -->
<!-- These items can be edited and reassigned -->
<!-- Or, they can be deleted permanently -->

<br>
<br>

<!-- Display the item's url, price, and id -->
<!-- the id is being displayed temporarily, until I add the option to upload an image -->
<!-- the item's delete url is special in this case because it deletes the item from teh account -->

<br>

  <%= erb(:"partials/accordion_top_partial", :locals => {:collapse_num => "collapseTwo", :heading_num => "headingTwo"})%>
    <h3>Items Not in a Folder</h3>
  <%= erb(:"partials/accordion_middle_partial", :locals => {:collapse_num => "collapseTwo", :heading_num => "headingTwo"})%>
    <% @items.each do |item| %>
      <% if item.folders.empty? %>
        <%= erb(:"partials/list_item_partial", :locals => {
          :item => item, :delete_path => "/"+current_user.slug+"/items/"+item.slug+"/"+item.id.to_s+"/delete",
          })%>

        <% end %>
      <% end %>
    <%= erb(:"partials/accordion_bottom_partial")%>

  <br>
  <br>

<!-- Display Item Creation Button -->
<%= erb(:"partials/button_create_item_partial") %>

<br>
<br>

<!-- Display a Back button. It takes the user to the previously visited page -->
<a href="javascript:history.back()" class="badge-pill badge-secondary">Go Back</a>

<br>
<br>
<br>
