
  <label for="item_name">Item Name:
  <%= @item.name %>
  </label>
  <br>

  <label for="item_cost">Item Cost:
  <%= @item.cost %> $ 
  </label>
  <br>

  <label for="item_description">Item Description: </label><br>
  <p><%= @item.description %></p>
  <br>
  <br>

  <form action="/<%= current_user.slug %>/items/<%= @item.slug %>/<%= @item.id %>/edit">
    <button class="content_button"  type="submit">Edit Item</button>
  </form>

  <form action="/<%= current_user.slug %>/items/<%= @item.slug %>/<%= @item.id %>/delete" method="POST">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <button class="content_button"  type="submit">Delete Item</button>
  </form>

  <br>
  <br>

  <a href="javascript:history.back()">Go Back</a>
