<% if flash[:success_message] %>
  <br>
  <div id="flash_message" style="text-align: center; border: 2px solid green;">
    <%= flash[:success_message] %>
  </div>
  <br>

<% elsif flash[:fail_message] %>
  <br>
  <div id="flash_message" style="border: 2px solid red;">
    <%= flash[:fail_message] %>
  </div>
  <br>
<% end %>

<% @categories.each do |category| %>
<a href="/categories/<%= category.slug %>/items"><%= category.name %></a>

<form action="/categories/<%= category.slug %>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button type="submit">Delete Category</button>
</form>

<form action="/categories/<%= category.slug %>/edit">
  <button type="submit">Edit</button>
</form><br>

<% end %>

<br>
<br>

<a href="/categories/new">Create New Category</a>
<br>
