<% if flash[:success_message] %>
  <br>
  <div id="flash_message" style="text-align: center; border: 2px solid green;">
    <%= flash[:success_message] %>
  </div>
  <br>

<% elsif flash[:fail_message] %>
  <br>
  <div id="flash_message" style="border: 2px solid red;">
    <%= flash[:fail_message] %>
  </div>
  <br>
<% end %>

<% @categories.sort { |a,b| a.name.downcase <=> b.name.downcase }.each do |category| %>
<a href="/<%= current_user.slug %>/categories/<%= category.slug %>"><%= category.name %></a>

<form action="/<%= current_user.slug %>/categories/<%= category.slug %>/edit">
  <button type="submit">Edit</button>
</form>

<form action="/<%= current_user.slug %>/categories/<%= category.slug %>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button type="submit">Delete Category</button>
</form><br>

<% end %>

<br>
<br>

<a href="/<%= current_user.slug %>/categories/new">Create New Category</a>
<br>
