

<!-- FLASH MESSAGES -->

<% if flash[:success] %>
  <br>
  <div class="flash_success">
    <%= flash[:success] %>
  </div>
  <br>

<% elsif flash[:warning] %>
  <br>
  <div class="flash_warning">
    <%= flash[:warning] %>
  </div>
  <br>

<% elsif flash[:warning] %>
  <br>
  <div class="flash_login">
    <%= flash[:warning] %>
  </div>
  <br>
<% end %>

<!-- END FLASH MESSAGES -->

<% @categories.each do |category| %>
<a href="/<%= current_user.slug %>/categories/<%= category.slug %>"><%= category.name %></a>

<form action="/<%= current_user.slug %>/categories/<%= category.slug %>/edit">
  <button class="content_button"  type="submit">Edit Category</button>
</form>

<form action="/<%= current_user.slug %>/categories/<%= category.slug %>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button class="content_button"  type="submit">Delete Category</button>
</form><br>

<% end %>

<br>
<br>

<a href="/<%= current_user.slug %>/categories/new">Create New Category</a>
<br>



  <br>
  <br>

<a href="javascript:history.back()">Go Back</a>
