<%= erb(:"partials/flash_partial") %>

<!-- Display the Page Title -->
<h3> Create a New Category: </h3>
<br>

<!-- Display a Category creation form -->
<form action="/<%= current_user.slug %>/categories/new" method="POST">

  <!-- Category Name field -->
  <p>Category Name: <input type="text" name="category[name]" placeholder="Category Name"><p> <br>


  <!-- Displays a dropdown menu of existing items to choose from -->
  <label>Add or Remove existing items: </label><br>

  <select name="category[item_ids][]" size="4" multiple>
    <% @items.each do |item| %>
      <option value="<%= item.id %>" <%= 'selected' if @folder.items.include?(item) %>><%= item.name %></option>
    <% end %>
  </select>
  <p>(hold ctrl [in Windows] or cmd [in MacBooks] to select or deselect any of the above)</p>

  <br>
  <br>

  <h5>Would you like to add a new item to this Category?</h5>
  <br>

  <!-- Displays form to Create a New Item -->
  <!-- Will not create item if the item's name is missing -->

  <!-- ITEM FORM PARTIAL -->
  <%= erb(:"partials/item_form_partial", :locals => {:temp_name => "Item Name", :tempt_cost => "0.00", :temp_description => "Item Description (e.g. shape, color, why it's important, etc.)"}) %>
  <!-- ITEM FORM PARTIAL -->


  <!-- Submit Button -->
  <button class="content_button"  type="submit">Create New Category</button>
</form>

  <br>
  <br>

<!-- Display a Back button. It takes the user to the previously visited page -->
<a href="javascript:history.back()">Go Back</a>
