<%= erb(:"partials/flash_partial") %>

<!-- Displays page title -->
<h3> [ -- <%= @category.name %> -- ] Edit Page: </h3>
<br>

<!-- Displays form to edit category -->
<form action="/<%= current_user.slug %>/categories/<%= @category.slug %>/edit" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">


  <label for="category_name">Category Name: </label>
  <input type="text" name="category[name]" placeholder="<%=@category.name%>"><br>

  <label>Add or Remove existing items: </label><br>
  <select name="category[item_ids][]" size="4" multiple>
    <% @items.each do |item| %>
      <option value="<%= item.id %>" <%= 'selected' if @folder.items.include?(item) %>><%= item.name %></option>
    <% end %>
  </select>
  <p>(hold ctrl [in Windows] or cmd [in MacBooks] to select or deselect any of the above)</p>


  <br>
  <br>

  <h5>Would you like to add a new item as well?</h5>
  <br>

  <!-- ITEM FORM PARTIAL -->
  <%= erb(:"partials/item_form_partial", :locals => {:temp_name => "Item Name", :temp_cost => "0.00", :temp_description => "Item Description (e.g. shape, color, why it's important, etc.)"}) %>
  <!-- ITEM FORM PARTIAL -->

  <label class="item" for="item_description">Item Description: </label><br>
  <textarea name="item[description]" rows="10" cols="30">Item Description (e.g. shape, color, why it's important, etc.)</textarea>
  <br>

  <br>
  <br>

  <button class="content_button"  type="submit">Save Changes</button>
</form>


  <br>
  <br>

  <a href="javascript:history.back()">Go Back</a>
