<%= erb(:"partials/flash_partial") %>

<h3> [ -- <%= @category.name %> -- ] contains the Following Items: </h3>
<br>
<br>

<%= erb(:"partials/list_item_partial", :locals => {:object => @category, :f_slash_object_plural => "/categories", , :f_slash_object_id => @category.id})%>

<br>
<br>

<form action="/<%= current_user.slug %>/items/new">
<button class="content_button" type="submit"><a class="add_button" href="/<%= current_user.slug %>/items/new">Add a New Item</a></button>
</form>

<br>
<br>

<form action="/<%= current_user.slug %>/categories/<%= @category.slug %>/edit">
  <button class="content_button"  type="submit">Edit Category</button>
</form>

<form action="/<%= current_user.slug %>/categories/<%= @category.slug %>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button class="content_button"  type="submit">Delete Category</button>
</form>


  <br>
  <br>

  <a href="javascript:history.back()">Go Back</a>
