<% @category.items.sort { |a,b| a.name.downcase <=> b.name.downcase }.each do |item| %>

    <a href="/<%= current_user.slug %>/items/<%= item.slug %>/<%= item.id %>"><%= item.name %></a><br>

    <form action="/<%= current_user.slug %>/items/<%= item.slug %>/<%= item.id %>/edit">
      <button class="content_button"  type="submit">Edit Item</button>
    </form>

    <form action="/<%= current_user.slug %>/categories/<%= @category.id %>/items/<%= item.slug %>/<%= item.id %>/delete" method="POST">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <button class="content_button"  type="submit">Delete Item</button>
    </form>

    <br>

<% end %>

<form action="/<%= current_user.slug %>/categories/<%= @category.slug %>/edit">
  <button class="content_button"  type="submit">Edit Category</button>
</form>

<form action="/<%= current_user.slug %>/categories/<%= @category.slug %>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button class="content_button"  type="submit">Delete Category</button>
</form>


  <br>
  <br>

  <a href="javascript:history.back()">Go Back</a>
