<!-- Controls flash messages -->
<%= erb(:"partials/flash_partial") %>

<!-- Display Page Title -->
<div class="title_heading rounded">
  <h2><%= current_user.username.capitalize %>'s <%=object_string.pluralize%></h2>
</div>
<br>

<!-- Display Object's url -->
<% object_plural.each do |object| %>

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><a href="/<%= current_user.slug %>/<%=object_string.pluralize%>/<%= object.slug %>"><%= object.name %></a></h5>
            <h6 class="card-subtitle mb-2 text-muted">contains <%= object.items.count %> items</h6>

            <div class="row">
              <div class="card-link">
                <!-- EDIT / CREATE ITEM BUTTON -->
                <%= erb(:"partials/button_edit_partial", :locals => {
                  :object_string => object_string, :edit_path => "/"+current_user.slug+"/"+object_string.pluralize+"/"+object.slug+"/edit",
                  :button_label => object_string
                  })%>
              </div>

              <div class="card-link">
                <!-- DELETE BUTTON -->
                <%= erb(:"partials/button_delete_partial", :locals => {
                  :object_string => object_string, :delete_path => "/"+current_user.slug+"/"+object_string.pluralize+"/"+object.slug+"/delete"
                  })%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<br>
<br>

<!-- Display Category/Folder Creation Link -->
<a href="/<%= current_user.slug %>/<%=object_string.pluralize%>/new" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Create New <%= object_string.capitalize %></a>

<br>
<br>

<!-- Display a Back button. It takes the user to the previously visited page -->
<a href="javascript:history.back()" class="badge-pill badge-secondary">Go Back</a>
