<%= erb(:"partials/flash_partial") %>

<!-- Display the Page Title -->
<h3> Create a New <%= object_string.capitalize %>: </h3>
<br>

<!-- Display Form -->
<form action="/<%= current_user.slug %>/<%= object_string.pluralize%>/new" method="POST">

<!-- Name field -->
  <label><%=object_string%> Name:
    <input type="text" name="<%=object_string%>[name]" placeholder="<%=object_string.capitalize %> Name">
  </label>
  <br>
  <br>

  <%= erb(:"partials/item_selection_new_partial", :locals => {
    :object_string => object_string, :object_items => object_items
    })%>

  <br>
  <br>

  <h5>Would you like to add a new item as well?</h5>
  <br>

  <!-- Displays form to Create a New Item -->
  <!-- Will not create item if the item's name is missing -->

  <!-- ITEM FORM PARTIAL -->
  <%= erb(:"partials/item_form_partial", :locals => {
    :temp_name => "Item Name", :temp_cost => "0.00",
    :temp_description => "Item Description (e.g. shape, color, why it's important, etc.)"
    }) %>
  <!-- ITEM FORM PARTIAL -->

  <!-- Submit Button -->
  <button type="submit">Create <%= object_string %></button>
</form>

<br>
<br>

<!-- Display a Back button. It takes the user to the previously visited page -->
<a href="javascript:history.back()">Go Back</a>
