<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en"> <!--<![endif]-->

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom Style -->
    <link rel="stylesheet" href="/css/custom_style.css">

    <title>Hearth and Home: Inventory Sorter</title>

  </head>

  <body>
    <div class="container">

      <div class="row">
        <div class="col-sm-12">

          <!-- Display the navbar -->
          <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/">
              <img src="" width="30" height="30" class="d-inline-block align-top" alt="">| Hearth & Home |
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

              <!-- These menu option display only is the user is logged in -->
              <% if logged_in? %>

                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                  </li>


                  <!-- Dropdown for Categories -->
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Categories
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/<%= current_user.slug %>/categories">All Categories</a>
                      <div class="dropdown-divider"></div>
                      <% current_user.categories.sort { |a,b| a.name.downcase <=> b.name.downcase }.each do |category| %>
                        <a class="dropdown-item" href="/<%= current_user.slug %>/categories/<%= category.slug %>"><%= category.name %></a>
                      <% end %>
                    </div>
                  </li>

                  <!-- Dropdown for Folders -->
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Folders
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/<%= current_user.slug %>/folders">All Folders</a>
                      <a class="dropdown-item" href="/<%= current_user.slug %>/folders/new">Create New Folder</a>
                      <div class="dropdown-divider"></div>
                      <% current_user.folders.sort { |a,b| a.name.downcase <=> b.name.downcase }.each do |folder| %>
                        <a class="dropdown-item" href="/<%= current_user.slug %>/folders/<%= folder.slug %>"><%= folder.name %></a>
                      <% end %>
                    </div>
                  </li>

                  <!-- Items -->
                  <li class="nav-item">
                    <a class="nav-link" href="/<%= current_user.slug %>/items">Items</a>
                  </li>

                  <!-- Account -->
                  <li class="nav-item">
                    <a class="nav-link" href="/<%= current_user.slug %>/user_info">Account</a>
                  </li>
                </ul>

                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="/logout">Log Out</a>
                  </li>
                </ul>

              <!-- If not logged in, the navbar displays the following options -->
              <% else %>
                <ul class="navbar-nav mr-auto">
                </ul>

                <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Sign Up or Log In
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/signup">Sign Up</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/login">Log In</a>
                    </div>
                  </li>
                </ul>
              <% end %>

            </div>
          </nav>
        </div>
      </div>


      <div id="html_ruby_insert">

        <br>
          <%= yield %>
        <br>

      </div>

      <!-- A Divider line to separate out the bottom of the page -->
      <br>
      <div class="divider-line" > - </div>
      <br>
      <br>

      <div class="row page-links">
        <div class="col-sm-4">

          <!-- Contact info -->
          <h3>Contact</h3>

          <address>
            <p>Address:</p>
            Hearth & Home<br>
            P.O. Box 77777<br>
            Brooklyn, NY 11223
          </address>
          <p>
            Email: <a href="mailto:info@heartandhome.com">info@hearthandhome.com</a><br>
            Phone: +1 786 742 6789
          </p>
        </div>

        <!-- Useful links -->
        <div class="col-sm-4">
          <h3>Links</h3>
          <p>
            <a href="#" target="_blank">Something Useful 1</a><br>
            <a href="#" target="_blank">Something Useful 2</a><br>
            <a href="#" target="_blank">Something Useful 3</a>
          </p>
        </div>

        <!-- Social Media Links -->
        <div class="col-sm-4">
          <h3>Follow</h3>
          <p>
            <a href="#" target="_blank">YouTube</a><br>
            <a href="#" target="_blank">Facebook</a><br>
            <a href="#" target="_blank">Twitter</a>
          </p>
        </div>
      </div>

      <!-- Copyright & Developer Info -->
      <!-- links to my github and blog -->

      <div class="row">
        <div class="col-sm-12">
          <small>&copy; 2018 <strong>Hearth and Home Inventory Sorter. All Rights Reserved.</strong> Developed by <a href="http://adeelstechbeat.net/">Mohammad Adeel</a> | <a href="https://github.com/AAM77/hearth_and_home_inventory">GitHub</a></small>
        </div>
      </div>

    </div><!-- .container -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
